/* se ha creado un archivo main.css */
body{
   margin: 0px;
}
.header{
    width: 100%;
    height: 48px;
    background-color: blueviolet;
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
}

.content{
    margin-top: 10px;
    width: 100%;
    height: 100vh;
}
.footer{
    width: 100%;
    height: 24px;
    background-color: blueviolet;
}
.text-center-white{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.izquierda{
    width: 20%;
    float: left;
    text-align: center;
}
.centro{
    width: 46.6%;
    float: left;
}
.derecho{
    width: 33.3%;
    float: left;
    text-align: center;
}
.icono {
    display: none !important;
}

@media only screen and (max-width: 600px){
    .izquierda{
        width: 100%;
        display: none;
    }
    .centro{
        width: 100%;
    }
    .derecho{
        width: 100%;
        display: none;
    }
    .icono {
        display: inline-block !important;
        margin-left: 10px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px)
{
    .izquierda{
        width: 49%;
    }
    .centro{
        width: 49%;
    }
    .derecho{
        width: 100%;
        display: none;
    }
}
/* https://devdocs.io/ */